{% extends 'template.html' %}

{% block content %}

<div class="container">
    <form method="post" action="{{ url_for('auth_bp.register') }}">

        {{ form.csrf_token() }}

        <fieldset>
            <div class="row mb-3">
                {{ form.name.label(class='form-label') }}
                {{ form.name(class='form-control') }}
            </div>

            <div class="row mb-3">
                {{ form.login.label(class='form-label') }}
                {{ form.login(class='form-control') }}
            </div>

            <div class="row mb-3">
                {{ form.password.label(class='form-label') }}
                {{ form.password(class='form-control') }}
            </div>

            <div class="row">
                {{ form.button(class='btn btn-primary') }}
            </div>
        </fieldset>
    </form>
</div>

{% endblock content %}