{% extends 'template.html' %}

{% block content %}
<div class="container">
    <form method="post" action="/add">
        <fieldset>
            <div class="row mb-3">
                <label for="inputName">Nome:</label>
                <input class="form-control" type="text" id="inputName" name="inputName">
            </div>

            <div class="row mb-3">
                <label for="inputArtist">Artista(s):</label>
                <input class="form-control" type="text" id="inputArtist" name="inputArtist">
            </div>

            <div class="row mb-3">
                <label for="inputGenre">Gênero:</label>
                <select class="form-select" aria-label="Default select example" id="inputGenre" name="inputGenre">
                    <option selected>Escolha...</option>
                    <option value="Sertanejo">Sertanejo</option>
                    <option value="Arrocha">Arrocha</option>
                    <option value="MPB">MPB</option>
                    <option value="Pop">Pop</option>
                    <option value="Eletrônica">Eletrônica</option>
                    <option value="Rap">Rap</option>
                    <option value="Funk">Funk</option>
                    <option value="Rock">Rock</option>
                </select>
            </div>

            <div class="row">
                <button class="btn btn-primary" type="submit">Entrar</button>
            </div>

        </fieldset>
    </form>
</div>
{% endblock content %}