{% extends 'template.html' %}

{% block content %}
<div class="container">
    <form method="post" action="{{ url_for('music_bp.update_music') }}" enctype="multipart/form-data">
        <fieldset> 
            
            {{ form.csrf_token() }}

            <input type="hidden" name="inputId" value="{{id}}">
            
            <figure class="img-thmbnail mb-3">
                <img class="img-fluid" src="{{ url_for('music_bp.show_image', name_image=album_music) }}">
            
                <figcaption>
                    <label for="inputFile">
                        Altere a capa do album:
                        <input type="file" class="form-control" name="inputFile" 
                        id="inputFile" accept=".jpg, .jpeg, .png">
                    </label>
                </figcaption>
            </figure>


            <div class="row mb-3">
                {{ music.name.label(class='form-label') }}
                {{ music.name(class='form-control') }}
            </div>

            <div class="row mb-3">
                {{ music.artist.label(class='form-label') }}
                {{ music.artist(class='form-control') }}
            </div>

            <div class="row mb-3">
                {{ music.genre.label(class='form-label') }}
                {{ music.genre(class='form-control') }}
            </div>

            <div class="row">
                {{ music.button(clas='btn btn-primary') }}
            </div>

        </fieldset>
    </form>
</div>
{% endblock content %}