{% extends 'template.html' %}

{% block content %}
<div class="container">
    <form method="post" action="{{ url_for('music_bp.update_music') }}" enctype="multipart/form-data">
        <fieldset>
            <img src="{{ url_for('music_bp.show_image', name_image=album_music) }}">

            <input type="hidden" name="inputId" value="{{ music.id }}">

            <div class="row mb-3">
                <label for="inputName">Nome:</label>
                <input class="form-control" type="text" 
                id="inputName" name="inputName" value="{{ music.name }}">
            </div>

            <div class="row mb-3">
                <label for="inputArtist">Artista(s):</label>
                <input class="form-control" type="text" 
                id="inputArtist" name="inputArtist" value="{{ music.artist }}">
            </div>

            <div class="row mb-3">
                <label for="inputGenre">Gênero:</label>
                <select class="form-select" aria-label="Default select example" id="inputGenre" name="inputGenre">
                    <option selected>{{ music.genre }}</option>
                    <option value="Sertanejo">Sertanejo</option>
                    <option value="Arrocha">Arrocha</option>
                    <option value="MPB">MPB</option>
                    <option value="Pop">Pop</option>
                    <option value="Eletrônica">Eletrônica</option>
                    <option value="Samba">Samba</option>
                    <option value="Rap">Rap</option>
                    <option value="Funk">Funk</option>
                    <option value="Rock">Rock</option>
                </select>
            </div>

            <div class="row mb-3">
                <label for="inputFile">Altere a capa do album:</label>
                <input type="file" class="form-control" name="inputFile" 
                id="inputFile" accept=".jpg, .jpeg, .png">
            </div>

            <div class="row">
                <button class="btn btn-primary" type="submit">Entrar</button>
            </div>

        </fieldset>
    </form>
</div>
{% endblock content %}